body {
    margin: 0;
    padding: 0;
    /* background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover; */
    /* color: white; */
}

h1 {
    font-family: 'Titan One', cursive;
    letter-spacing: 3px;
    font-size: 100px;
    /* color: white; */
}

.trythese {

}
