body {
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
       -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    color: white;
}

h1 {
    font-family: 'Titan One', cursive;
    letter-spacing: 3px;
    font-size: 100px;
    color: blue;
    padding-bottom: 15px;
}

h2 {
    color: white;
    padding-top: 20px;
}

.submit, .toDevour {
    width: 100%;
    color: white;
    font-weight: bold;
    align-items: center;
}

.box {
    border: 5px white solid;
    min-height: 525px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.50);
}

.devoured {
    font-size: 20px;
}